body {
  background: white;
}
h1{
  
  position: fixed;
  color:black;
  top: 90px;
  left:115px;
  right: auto;
  
}
#container{
  
}
#recordingcanvas{
  position: fixed;
  top:680px;
  left: 115px;
  background:black;
  width: 720px; 
  height: 405px; 
}
#root video, #root canvas{
  top: 150px;
  left:7px;
}
#objectdetection{
  position: fixed;
  top: 200px;
  left:115px;
  color:black;
}
#qrcode{
  position:fixed;
  width:225px; 
  height:225px;
  top:12px;
  left: 610px;
  right:auto;
  background:white;
  display:none;
}
#canvas{

}
button{
  
}
#status{
  position: fixed;
  bottom: auto;
  top: 657px;
  left: 115px;
  color: black;
}
#root{
  z-index: 10;
}

@media screen and (min-width: 1670px) {/*1026 and bigger*/
  /* For desktop: */
  body {
  
}

h1{
  position: fixed;
  color:black;
  top: 90px;
  left:115px;
  right: auto;
}
#recordingcanvas{
  position: fixed;
  top:247px;
  left: auto;
  right: 115px;
  background:black;
  width: 720px; 
  height: 405px; 
}
#root video, #root canvas{
  top: 150px;
  left:115px;
}
#objectdetection{
  position: fixed;
  top: 200px;
  left:115px;
  color:black;
}
#qrcode{
  position:fixed;
  width:225px; 
  height:225px;
  top:12px;
  left: auto;
  right:115px;
  background:white;
  display:none;
}
#status{
  position: fixed;
  top: auto;
  bottom: 0px;
  left: 7px;
  color: black;
} 
  
  
}
