body {
  background: black;
}
h1{
  color:white;
}
#container{
  
}

#video{

}
#toolbar{
  
#canvas{

}
button{
  
}
#status{
  position: fixed;
  bottom:0px;
  left:7px;
  color:white;
}

@media only screen and (min-width: 1026px) {
  /* For desktop: */
  body {
  
}

#container{
}

#video{

}
#toolbar{
  
}
#canvas{

}
button{
  
}
  
  
  
}
