body {
  background: white;
}
h1{
  position: fixed;
  color:black;
  top: 90px;
  left:7px;
}
#container{
  
}

#video{

}
#toolbar{
  
#canvas{

}
button{
  
}
#status{
  position: fixed;
  bottom: 0px;
  left: 115px;
  color: black;
}

@media only screen and (min-width: 1026px) {
  /* For desktop: */
  body {
  
}

#container{
}
h1{
  position: fixed;
  color:black;
  top: 90px;
  left:115px;
}

#video{

}
#toolbar{
  
}
#canvas{

}
button{
  
}
#status{
  position: fixed;
  bottom: 0px;
  left: 115px;
  color: black;
} 
  
  
}
