<!DOCTYPE html>
<html>
<head>
    <title>AI CAM VIEWER</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <script src="jsQR.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" sizes="152×152" href="myicon.png"/>
</head>
<body>
	<div id="container">
        <div id="camContainer">
<video id="video" controls autoplay muted></video>
<div id="status" ></div>
<div id="toolbar">
<button onclick="snap();">SNAP</button>

</div>
<canvas id="canvas" onclick="hideCanvas();"></canvas><br>
</div>
<div id="qrContainer">
  <div id="qrloadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
  <video id="qrvideo" controls autoplay muted></video>
  <canvas id="qrcanvas" hidden></canvas>
  <div id="qroutput" hidden>
    <div id="qroutputMessage">No QR code detected.</div>
    <div hidden><b>Data:</b> <span id="qroutputData"></span></div>
  </div>
</div>
</div>
<script>
    var remotePeerId = null;
    var remoteIdFound = false;
    var qrvideo = document.createElement("video");//document.getElementById("qrvideo");
    var qrcanvasElement = document.getElementById("qrcanvas");
    var qrcanvas = qrcanvasElement.getContext("2d");
    var qrloadingMessage = document.getElementById("qrloadingMessage");
    var qroutputContainer = document.getElementById("qroutput");
    var qroutputMessage = document.getElementById("qroutputMessage");
    var qroutputData = document.getElementById("qroutputData");

    function drawLine(begin, end, color) {
      qrcanvas.beginPath();
      qrcanvas.moveTo(begin.x, begin.y);
      qrcanvas.lineTo(end.x, end.y);
      qrcanvas.lineWidth = 4;
      qrcanvas.strokeStyle = color;
      qrcanvas.stroke();
    }

	if(!remoteIdFound){
		// Use facingMode: environment to attemt to get the front camera on phones
      navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
      qrvideo.srcObject = stream;
      qrvideo.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      qrvideo.play();
      requestAnimationFrame(tick);
    });}


	var video = document.getElementById('video');
	var canvas = document.getElementById('canvas');
	var context = canvas.getContext('2d');	

	var lastPeerId = null;
        var peer = null; // own peer object
        var conn = null;
	
	peer = new Peer({debug: 2});
        peer.on('open', function (id) {
                        // Workaround for peer.reconnect deleting previous id
                        if (peer.id === null) {
		            document.getElementById("status").innerHTML = 'Received null id from peer open';
                            console.log('Received null id from peer open');
                            peer.id = lastPeerId;
                        } else {
                            lastPeerId = peer.id;
                        }

                        console.log('ID: ' + peer.id);
		        document.getElementById("status").innerHTML = 'ID: ' + peer.id;
                    });
peer.on('disconnected', function () {
                        
                        console.log('Connection lost. Please reconnect');
                        document.getElementById("status").innerHTML = 'Connection lost. Please reconnect';
                        // Workaround for peer.reconnect deleting previous id
                        peer.id = lastPeerId;
                        peer._lastServerId = lastPeerId;
                        peer.reconnect();
                    });
                    peer.on('close', function() {
                        conn = null;
                        document.getElementById("status").innerHTML = 'Connection destroyed. Please refresh';
                        console.log('Connection destroyed');
                    });
                    peer.on('error', function (err) {
                        console.log(err);
                        document.getElementById("status").innerHTML = err;
                    });
    
    
    
        

conn.on('open', () => {
  console.log("Connected to: " + conn.peer);
  conn.send('sharescreen');
});
	
  /*peer.on('connection', (conn) => {
  conn.on('data', (data) => {
    console.log(data);
    if(data.includes("AI CAM")){
      conn.send('sharescreen');
      console.log("screen requested!");
    }
  });
  
});*/

peer.on('call', function(call) {
  console.log("AI CAM called!");
  call.answer(); // Answer the call with an A/V stream.
    call.on('stream', function(remoteStream) {
      // Show stream in some video/canvas element.
      streamWebCam(remoteStream);
    });
});

	function streamWebCam(stream){
                video.srcObject = stream;
		//video.play();
	}

	function throwError(e){
		alert(e.name);
	}

	
	function snap(){
		canvas.width = video.clientWidth;
		canvas.height = video.clientHeight;
		context.drawImage(video,0,0);
		canvas.style.display = "block";
	}
	function hideCanvas(){
		canvas.style.display = "none";
	}
    function tick() {
      qrloadingMessage.innerText = "⌛ Loading video..."
      if (qrvideo.readyState === qrvideo.HAVE_ENOUGH_DATA) {
        qrloadingMessage.hidden = true;
        qrcanvasElement.hidden = false;
        qroutputContainer.hidden = false;

        qrcanvasElement.height = qrvideo.videoHeight;
        qrcanvasElement.width = qrvideo.videoWidth;
        qrcanvas.drawImage(qrvideo, 0, 0, qrcanvasElement.width, qrcanvasElement.height);
        var imageData = qrcanvas.getImageData(0, 0, qrcanvasElement.width, qrcanvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height, {
          inversionAttempts: "dontInvert",
        });
        if (code) {
          drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
          drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
          drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
          drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
          qroutputMessage.hidden = true;
          qroutputData.parentElement.hidden = false;
          qroutputData.innerText = code.data;
	  remotePeerId = code.data;
		remoteIdFound = true;
		document.getElementById("qrContainer").hidden = true;
		document.getElementById("camContainer").hidden = false;
		if (conn) {conn.close();}
	conn = peer.connect(code.data, {
                        reliable: true
                    });
        } else {
          qroutputMessage.hidden = false;
          qroutputData.parentElement.hidden = true;
        }
      }
	    if(!remoteIdFound){requestAnimationFrame(tick);}
    }
	</script>
	
</body>
</html>
