<!DOCTYPE html>
<html>
<head>
	<title>AI CAM VIEWER</title>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="container">
<video id="video" controls autoplay muted></video>

<div id="toolbar">
<button onclick="snap();">SNAP</button>
<button onclick="viewCam();">VIEW</button>
</div>
<canvas id="canvas" onclick="hideCanvas();"></canvas><br>
<script>
	var video = document.getElementById('video');
	var canvas = document.getElementById('canvas');
	var context = canvas.getContext('2d');	

	var lastPeerId = null;
        var peer = null; // own peer object
        var conn = null;
	
	peer = new Peer('jkv56789',{
                        debug: 2
                    });
        peer.on('open', function (id) {
                        // Workaround for peer.reconnect deleting previous id
                        if (peer.id === null) {
                            console.log('Received null id from peer open');
                            peer.id = lastPeerId;
                        } else {
                            lastPeerId = peer.id;
                        }

                        console.log('ID: ' + peer.id);
                    });
peer.on('disconnected', function () {
                        
                        console.log('Connection lost. Please reconnect');

                        // Workaround for peer.reconnect deleting previous id
                        peer.id = lastPeerId;
                        peer._lastServerId = lastPeerId;
                        peer.reconnect();
                    });
                    peer.on('close', function() {
                        conn = null;
                        
                        console.log('Connection destroyed');
                    });
                    peer.on('error', function (err) {
                        console.log(err);
                        
                    });
    
    
    
 if (conn) {
                        conn.close();
                    }
	conn = peer.connect('jkv12345', {
                        reliable: true
                    });

conn.on('open', () => {
  console.log("Connected to: " + conn.peer);
  conn.send('sharescreen');
});
	
  peer.on('connection', (conn) => {
  conn.on('data', (data) => {
    console.log(data);
    if(data.includes("AI CAM")){
      conn.send('sharescreen');
      console.log("screen requested!");
    }
  });
  
});

peer.on('call', function(call) {
  console.log("AI CAM called!");
  call.answer(); // Answer the call with an A/V stream.
    call.on('stream', function(remoteStream) {
      // Show stream in some video/canvas element.
      streamWebCam(remoteStream);
    });
});

	function streamWebCam(stream){
                video.srcObject = stream;
		//video.play();
	}

	function throwError(e){
		alert(e.name);
	}

	function viewCam(){
		if (conn) {
                        conn.close();
                    }
	conn = peer.connect('jkv12345', {
                        reliable: true
                    });

	}
	function snap(){
		canvas.width = video.clientWidth;
		canvas.height = video.clientHeight;
		context.drawImage(video,0,0);
		canvas.style.display = "block";
	}
	function hideCanvas(){
		canvas.style.display = "none";
	}
	</script>
	</div>
</body>
</html>
