body {
  
}

#container{
  
}

#video{
margin: 0 auto;
width: 100%;
background-color: black;
}
#toolbar{
  margin-top: 10px;
  background-color: gray;
}
#canvas{
position: static;
width: 100%;
background-color: white;
display: none;
}
button{
  font-size : 60px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
  
}

#container{
}

#video{
margin: 0 auto;
width: 100%;
}
#toolbar{
  
}
#canvas{
position: absolute;
width: 320px;
background-color: white;
left: 0px;
top: 0px;
display: none;
}
button{
  font-size : 90px;
}
  
  
  
}
