body {
  /*max-width: 640px;
  margin: 0 auto;
  position:relative;*/
  background-color: black;
}

#container{
  
}
#camContainer{
  text-align: center;
  display:none;
}

#video{
margin: 0 auto;
width: 100%;
background-color: black;
}
#toolbar{
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: black;
}
#canvas{
position: static;
margin: 0 auto;
width: 100%;
background-color: black;
display: none;
}
button{
  font-size : 60px;
  background-color: #dfdfdf;
  border: none;
  color: green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
#status{
  position: fixed;
  bottom:0px;
  left:7px;
  color:white;
}

#qrloadingMessage {
      text-align: center;
      padding: 40px;
      background-color: #eee;
    }

    #qrcanvas {
      width: 100%;
    }

    #qroutput {
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      padding-bottom: 0;
    }

    #qroutput div {
      padding-bottom: 10px;
      word-wrap: break-word;
    }

    #noQRFound {
      text-align: center;
    }

@media only screen and (min-width: 1026px) {
  /* For desktop: */
  body {
  
}

#container{
}

#video{
margin: 0 auto;
width: 80%;
}
#toolbar{
  
}
#canvas{
position: absolute;
margin-top: 0px;
width: 360px;
background-color: black;
left: 15px;
top: 15px;
display: none;
}
button{
  font-size : 90px;
}
  
  
  
}
